<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box
    }

    body,
    html {
      height: 100%;
      margin: 0;
      font-family: Arial;
    }

    .tablink {
      background-color: #555;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 33.3%;
    }

    .tablink:hover {
      background-color: #777;
    }

    .tabcontent {
      color: white;
      display: none;
      padding: 100px 20px;
      height: 100%;
    }

    #Counselor {
      background-color: tan;
    }

    < !--#User {
      background-color: coral;
    }

    -->#Appointment {
      background-color: tan;
    }

    #Treatment {
      background-color: tan;
    }

    input[type=text],
    select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #000000;
      border-radius: 4px;
      box-sizing: border-box;
      color: black;
    }

    input[type=submit] {
      width: 100%;
      background-color: #e4fbfe;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #f0e5e8;
    }

    div {
      border-radius: 5px;
      background-color: #919191;
      padding: 20px;
    }

    table,
    th,
    td {
      border: 1px solid black;

      align: center;
    }

    table.form {
      margin-left: auto;
      margin-right: auto;
    }

    body {
      margin: 0;
      min-width: 250px;
    }

    /* Include the padding and border in an element's total width and height */
    * {
      box-sizing: border-box;
    }

    /* Remove margins and padding from the list */
    ul {
      margin: 0;
      padding: 0;
    }

    /* Style the list items */
    ul li {
      cursor: pointer;
      position: relative;
      padding: 12px 8px 12px 40px;
      list-style-type: none;
      background: #8B4513;
      font-size: 18px;
      transition: 0.2s;

      /* make the list items unselectable */
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Set all odd list items to a different color (zebra-stripes) */
    ul li:nth-child(odd) {
      background: #D2691E;
      ;
    }

    /* Darker background-color on hover */
    ul li:hover {
      background: #ddd;
    }

    /* When clicked on, add a background color and strike out text */
    ul li.checked {
      background: #8B4513;
      color: #fff;
      text-decoration: line-through;
    }

    /* Add a "checked" mark when clicked on */
    ul li.checked::before {
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
    }

    /* Style the close button */
    .close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 12px 16px 12px 16px;
    }

    .close:hover {
      background-color: #f44336;
      color: white;
    }

    /* Style the header */
    .header {
      background-color: black;
      padding: 30px 40px;
      color: white;
      text-align: center;
    }

    /* Clear floats after the header */
    .header:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Style the input */
    input {
      margin: 0;
      border: none;
      border-radius: 0;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
    }

    /* Style the "Add" button */
    .addBtn {
      padding: 10px;
      width: 25%;
      background: #d9d9d9;
      color: #555;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 0;
    }

    .addBtn:hover {
      background-color: #bbb;
    }
  </style>
</head>

<body>

  <button class="tablink" onclick="openPage('Counselor', this, 'tan')">Welcome {{userid.fullname}}</button>
  <!--<button class="tablink" onclick="openPage('User', this, 'coral')" id="defaultOpen">User</button>-->
  <button class="tablink" onclick="openPage('Appointment', this, 'tan')">Appointment</button>
  <button class="tablink" onclick="openPage('Treatment', this, 'tan')">User Details</button>

  <div id="Counselor" class="tabcontent">
    <h3>My dashboard</h3>
    <div>
      <form action="#">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <br>
        <label for="idno">ID Number</label>
        <input type="text" id="idno" name="ID Number" placeholder="Your Id number..">
        <br>
        <label for="Qualification">Qualification</label>
        <select id="Qualification" name="Qualification">
          <option value="a">a</option>
          <option value="b">b</option>
          <option value="c">c</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>

  <!--<div id="User" class="tabcontent">
  <h3>User</h3>
  <p>User details</p> 
</div>-->

  <div id="Appointment" class="tabcontent">
    <div id="myDIV" class="header">
      <h2 style="margin:5px">Appointments</h2>
      {{!-- <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div> --}}

    <ul id="myUL">

       {{#each counsellors}}
          <li>{{this.fullname}}</li>
       {{/each}}
      {{!-- <li class="checked">User 2</li> --}}
     
    </ul>
  </div>

  <div id="Treatment" class="tabcontent">

    <table class="form" id="customers">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Treatment</th>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"> </td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
      <tr>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
        <td><input type="text" name="name" size="20"></td>
      </tr>
    </table>
  </div>

  <script>
    function openPage(pageName, elmnt, color) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
      }
      document.getElementById(pageName).style.display = "block";
      elmnt.style.backgroundColor = color;
    }
    document.getElementById("defaultOpen").click();
  </script>
  <script>
    var myNodelist = document.getElementsByTagName("LI");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.getElementsByClassName("close");
    var i;
    for (i = 0; i < close.length; i++) {
      close[i].onclick = function () {
        var div = this.parentElement;
        div.style.display = "none";
      }
    }

    // Add a "checked" symbol when clicking on a list item
    var list = document.querySelector('ul');
    list.addEventListener('click', function (ev) {
      if (ev.target.tagName === 'LI') {
        ev.target.classList.toggle('checked');
      }
    }, false);

    // Create a new list item when clicking on the "Add" button
    function newElement() {
      var li = document.createElement("li");
      var inputValue = document.getElementById("myInput").value;
      var t = document.createTextNode(inputValue);
      li.appendChild(t);
      if (inputValue === '') {
        alert("You must write something!");
      } else {
        document.getElementById("myUL").appendChild(li);
      }
      document.getElementById("myInput").value = "";

      var span = document.createElement("SPAN");
      var txt = document.createTextNode("\u00D7");
      span.className = "close";
      span.appendChild(txt);
      li.appendChild(span);

      for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
          var div = this.parentElement;
          div.style.display = "none";
        }
      }
    }
  </script>

</body>

</html>